groups:
- name: general.rules
  rules:
  - alert: HighCPULoad
    expr: 100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 80
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "High CPU utilization on instance {{ $labels.instance }}"
      description: "CPU utilization is consistently above 80% for the last 5 minutes (current value: {{ $value | humanize }})"
